section{
    display:flex;
    flex-direction:column;
    font-family: 'CroissantOne-Regular';
}

section h1 {
    display:none;
}

#menu h3{
    font-size: 12px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'CroissantOne-Regular';
    line-height: normal;
    
}


#starter h3:before{
    content:url(img/brancheorangegauche.png);
    display:flex;
    margin: 12px 0px 0 0;
}

#starter h3:after{
    content:url(img/brancheorangedroite.png);
    display:flex;
    margin: 9px 0px 0 0;
}

#dish h3:after{
        content:url(img/branchecôtédroit.PNG);
        display:flex;
        margin:10px 0px 0 0;
}

#dish h3:before{
    content:url(img/branchevioletgauche.PNG);
    display:flex;
    margin: 12px 0px 0 0;
}

#desert h3:after{
    content:url(img/branchevioletsombredroit.PNG);
    display:flex;
    margin: 10px 0px 0 0;
}

#desert h3:before{
    content:url(img/branchevioletsombre.PNG);
    display:flex;
    margin: 9px 0px 0 0;
}

h2{
    font-size: 22px;
    background:-webkit-linear-gradient(45deg, #D8852E, #905BFD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display:flex;
    width: 50%;
    justify-content:center;
    font-family: 'CroissantOne-Regular';
    align-self: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

#menu {
    display:flex;
    flex-direction:column;
    box-shadow: 1px 1px 12px #d0d0d0;
    background-color: #FFF5FE;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 2%;
    height: 702px;
    
}

.col1{
    float:left;
    width: 80%;
    margin-left: 35px;
}

.col2{
    float:right;
    margin-right: 35px;
}

#starter{
    color:#C67412;
    font-size: 12px;
    margin-bottom: 20px;
    line-height: 30px;
}

#dish{
    color:#A56799;
    font-size: 12px;
    margin-bottom: 20px;
    line-height: 30px;
}

#desert{
    color:#6E4CCC;
    font-size: 12px;
    margin-bottom: 20px;
    line-height: 30px;
}



