section h1{
    display:flex;
    justify-content:center;
}

label.Man{
    float: right;
    margin-left: 0px;
}

label.Woman{
    float:right;
    margin-right:0px;
}

#submit{
    margin-left: 150px;
}