section{
    display:flex;
    flex-direction:column;
    color: #3C1218;
    font-family: 'Devonshire Regular';
}

section h1 {
    text-align:center;
    font-family: 'SourceSansPro-Regular';
    color:black;
}

#menu h3{
    color: #3C1218;
    font-family: 'Devonshire Regular';
    font-size: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#menu h3:before, #menu h3:after {
    content: '';
    border-top: 2px solid;
    width:80%;
    flex: 1 0 20px;
    margin-left: 35px;
    margin-right: 35px;
}


h3:after {
    margin: 0 0 0 20px;
}

#menu {
    display:flex;
    flex-direction:column;
    box-shadow: 1px 1px 12px #d0d0d0;
    background-color:#fcdfdb;
    justify-content: space-around;
    margin-left: 35%;
    margin-right: 35%;
    align-items: center;
}

#menu h2 {
    display:flex;
    color: #3C1218;
    font-family: 'Devonshire Regular';
    font-size:35px;
    justify-content: center;
    flex-wrap: wrap;
}

#menu h2::before {
    content: "\00266C";
    background: -webkit-linear-gradient(left, #F15761, #F7916D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    font-size: 1.5em;
    transform: skew(3deg, -16deg) scale(1.2, 1);
}

#article1 h2 {
    color: #3C1218;
    font-family: 'Devonshire Regular';
    font-size: 20px;
}

.col1{
    float:left;
    width: 80%;
    margin-left: 35px;
}

.col2{
    float:right;
    margin-right: 35px;
}

#menu h4{
    display:flex;
    justify-content: center;
}

#menu h4::before{
    content: "\00266C";
    background: -webkit-linear-gradient(left, #F15761, #F7916D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    font-size: 1em;
    transform: skew(3deg, -16deg) scale(1.2, 1);
    margin-right: 5px;
}

