section{
    display:flex;
    flex-direction:column;
    color: #3C1218;
    font-family: 'Devonshire Regular';
}

section h1 {
    text-align:center;
    font-family: 'SourceSansPro-Regular';
    color:black;
}

#menu h3{
    color: #3C1218;
    font-family: 'Devonshire Regular';
    font-size: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}



h3:after {
    content:url(img/brancheenchantédroite.PNG);
}

.grandenote{
    width: 15%;
    margin-top: 15px;
    display:flex;
}

.petitenote {
    width: 5%;
    display:flex;
}

h3:before{
    content:url(img/brancheenchantédroite.PNG);
}

#menu {
    display:flex;
    flex-direction:column;
    box-shadow: 1px 1px 12px #d0d0d0;
    background-color:#fcdfdb;
    justify-content: space-around;
    margin-left: 35%;
    margin-right: 35%;
    align-items: center;
}

#menu h2 {
    display:flex;
    color: #3C1218;
    font-family: 'Devonshire Regular';
    font-size:35px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0px;
}

#article1 h2 {
    color: #3C1218;
    font-family: 'Devonshire Regular';
    font-size: 20px;
}

.col1{
    float:left;
    width: 80%;
    margin-left: 35px;
}

.col2{
    float:right;
    margin-right: 35px;
}

#menu h4{
    display:flex;
    justify-content: center;
}


