article#adresse {
    display: flex;
    margin-right: 230px;
}

article#info{
    display: flex;
}

article#sup{
    display: flex;
    margin-left: 307px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}