section{
    display:flex;
    flex-direction:column;
    font-family:'DancingScript-Regular';
}

section h1 {
    display:none;
}

#menu h3{
    font-size: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family:'DancingScript-Regular';
    justify-content: space-around;
    font-weight: unset;
    line-height: 0px;
}

#menu h3:before{
    content:url(img/papillesbleusombregauche.png);
    display:flex;
}

#menu h3:after{
    content:url(img/papillesbleusombredroit.png);
    display:flex;
}

h2{
    background:-webkit-linear-gradient(45deg, #344EBF, #5194CA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display:flex;
    justify-content: center;
    font-family:'DancingScript-Regular';
    font-size: 53px;
    width: 70%;
    margin-top: 30px;
    margin-bottom:30px;
}

#menu {
    display:flex;
    flex-direction:column;
    box-shadow: 1px 1px 12px #d0d0d0;
    background-color: #EDEFEF;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 2%;
    height: 702px;
    align-items: center;
}

.col1{
    float:left;
    width: 70%;
    margin-left: 60px;
}

.col2{
    float:right;
    margin-right: 60px;
}

#starter {
    margin-bottom:20px;
    line-height: 30px;
}

#dish{
    margin-bottom:20px;
    line-height: 30px;
}

#desert{
    margin-bottom:20px;
    line-height: 30px;
}


