@font-face{
    font-family: 'SourceSansPro-Regular';
    src: url('font/SourceSansPro-Regular.otf');
}

@font-face{
    font-family: 'SourceSansPro-Semibold';
    src: url('font/SourceSansPro-Semibold.otf');
}

@font-face{
    font-family: 'Grotesk Medium';
    src: url('font/Grotesk Medium.ttf');
}

@font-face{
    font-family: 'Grotesk Light';
    src: url('font/Grotesk Light.ttf');
}
html{
    margin:auto;
    height:auto;
}

body{
    margin:auto;
    display:flex;
    flex-direction:column;
    font-family: 'SourceSansPro-Regular';
} 

/*le header*/

header{
    display:flex;
    justify-content: center;
    font-family: 'SourceSansPro-Semibold';
    background-color:#579C87;
}

header h1{
    font-family: 'Grotesk Medium';
    font-weight: normal;
    font-size: 40px;
}

header a{
    text-decoration:none;
    color: #FDCB46;
}

/*la partie du milieu*/

section{
    display:flex;
    flex-direction: column;
    width: auto;
}

article{
    display:flex;
    flex-direction:row;
    justify-content:center;
    flex-wrap:wrap;
}

/*les menus*/

article h1{
    display:flex;
    justify-content: center;
}

article h2{
    display:flex;
    justify-content:center;
}

article a{
    text-decoration:none;
    color:black;
}

article li{
    list-style-type: none;
}

#article1
{
    box-shadow: 1px 1px 12px #d0d0d0;
    width: 200px;
    height: 260px;
    background-color:#fcdfdb;
}

#article2
{
    box-shadow: 1px 1px 12px #d0d0d0;
    width: 200px;
    height: 260px;
    background-color:#fff5fe;
}

#article3
{
    box-shadow: 1px 1px 12px #d0d0d0;
    width: 200px;
    height: 260px;
    background-color:#f9f9f9;
}

#article4
{
    box-shadow: 1px 1px 12px #d0d0d0;
    width: 200px;
    height: 260px;
    background-color:#f9f9f9;
}



/*bouton prochainement*/

aside{
    display:flex;
    justify-content: center;
}

#btn{
    font-family: 'Grotesk Light';
    background-color:#579C87;
    color: #FDCB46;
    display: flex;
    font-size: 25px;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 15px;
}

/*Footer et boutons de navigations en bas de pages*/

footer{
    display:flex;
    flex-direction: column;
    background-color:#579C87;   
}

nav{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
    font-family: 'Grotesk Light';
    font-size:20px;
}

nav a{
    text-decoration: none;
    color: #FDCB46;
}