@font-face{
    font-family: 'SourceSansPro-Regular';
    src: url('font/SourceSansPro-Regular.otf');
}

@font-face{
    font-family: 'SourceSansPro-Semibold';
    src: url('font/SourceSansPro-Semibold.otf');
}

@font-face{
    font-family: 'Grotesk Medium';
    src: url('font/Grotesk Medium.ttf');
}

@font-face{
    font-family: 'Grotesk Light';
    src: url('font/Grotesk Light.ttf');
}

html{
    margin:auto;
    height:auto;
}

body{
    height: 937px;
    margin:auto;
    display:flex;
    flex-direction:column;
    font-family: 'SourceSansPro-Regular';
} 

/*le header*/

header{
    display:flex;
    justify-content: center;
    font-family: 'SourceSansPro-Semibold';
    background-color:#579C87;
}

header h1{
    font-family: 'Grotesk Medium';
    font-weight: normal;
    font-size: 40px;
}

header a{
    text-decoration:none;
    color: #FDCB46;
}

/*la partie du milieu*/

main{
    display:flex;
    flex-direction: column;
    width: auto;
}

article{
    width:30%;
    flex-direction:column;
    margin:auto;
}

/*les menus*/

article h2{
    display:flex;
    justify-content: center;
}

article h3{
    display:flex;
    justify-content:center;
}

article ul{
    list-style-type: none;
    display:flex;
    flex-flow:wrap;
    padding: 0px;
    margin: 0px;
}

article ul li{
    display: flex;
    margin: 2% auto;
}

article>ul>li>a, article>ul>li>a:hover, article>ul>li>a:visited{
    text-decoration: none;
}

main footer{
    flex:1 1 auto;
}

#article1
{
    box-shadow: 1px 1px 12px #d0d0d0;
    background-color:#fcdfdb;
    width: 100%;
    height: 260px; 
}

#article1 h2 {
    background:linear-gradient(0xF15761, 0xF7916D)
}

#article2
{
    box-shadow: 1px 1px 12px #d0d0d0;
    background-color:#fff5fe;
    width: 100%;
    height: 260px;
}

#article3
{
    box-shadow: 1px 1px 12px #d0d0d0;
    background-color:#f9f9f9;
    width: 100%;
    height: 260px;
}

#article4
{
    box-shadow: 1px 1px 12px #d0d0d0;
    background-color:#f9f9f9;
    width: 100%;
    height: 260px;
}

/*bouton prochainement*/

aside{
    display:flex;
    justify-content:center;
    margin-top: 20px;
}

#btn{
    font-family: 'Grotesk Light';
    background-color:#579C87;
    color: #FDCB46;
    display: flex;
    font-size: 30px;
    border-radius: 6px 6px 6px 6px;
    width: 18%;
    justify-content:center;
    height:48px;
}

#btn p{
  display:flex;
    align-items:center;
    margin:0px;
}

/*Footer et boutons de navigations en bas de pages*/

footer{
    display:flex;
    flex-direction: column;
    background-color:#579C87;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
    font-family: 'Grotesk Light';
    font-size:20px;
}

nav a{
    text-decoration: none;
    color: #FDCB46;
}