@font-face{
    font-family: 'SourceSansPro-Regular';
    src: url('font/SourceSansPro-Regular.otf');
}

@font-face{
    font-family: 'SourceSansPro-Semibold';
    src: url('font/SourceSansPro-Semibold.otf');
}

body{
    margin: auto;
}

main{
    margin:auto;
    display:flex;
    flex-direction:column;
    font-family: 'SourceSansPro-Regular';
} 

/*le header*/

header{
    display:flex;
    justify-content: center;
    font-family: 'SourceSansPro-Semibold';
    background-color:#579C87;
    color: #FDCB46;
}

/*la partie du milieu*/

section{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

article{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}

/*les menus*/

img{
    display:grid;
    justify-content:space-evenly;
    text-align:center;
}

/*bouton prochainement*/

aside{
    display:flex;
    justify-content: center;
}

/*Footer et boutons de navigations en bas de pages*/

footer{
    display:flex;
    flex-direction: column;
    background-color:#579C87;
    
}

nav{
    display: flex;
    justify-content: space-evenly;
}

nav a{
    text-decoration: none;
    color: #FDCB46;
}