@import "./animation.scss";

@font-face{
    font-family: 'SourceSansPro-Regular';
    src: url('font/SourceSansPro-Regular.otf');
}

@font-face{
    font-family: 'SourceSansPro-Semibold';
    src: url('font/SourceSansPro-Semibold.otf');
}

@font-face{
    font-family: 'Grotesk Medium';
    src: url('font/Grotesk Medium.ttf');
}

@font-face{
    font-family: 'Grotesk Light';
    src: url('font/Grotesk Light.ttf');
}

@font-face{
    font-family: 'Devonshire Regular';
    src: url('font/Devonshire-Regular.ttf');
}

@font-face{
    font-family: 'Baneberry-Regular';
    src: url('font/Baneberry-Regular.ttf');
}

@font-face{
    font-family: 'CroissantOne-Regular';
    src: url('font/CroissantOne-Regular.ttf');
}

@font-face{
    font-family: 'Ledger-Regular';
    src: url('font/Ledger-Regular.ttf');
}

@Font-face{
    font-family:'DancingScript-Regular';
    src: url('font/DancingScript-Regular.ttf');
}

@font-face{
    font-family: 'KaushanScript-Regular';
    src: url('font/KaushanScript-Regular.ttf');
}

html{
    margin:auto;
    height:auto;
}

body{
    
    margin:auto;
    display:flex;
    flex-direction:column;
    font-family: 'SourceSansPro-Regular';
    margin-bottom: 90px;
} 

/*le header*/

header{
    display:flex;
    justify-content: center;
    background-color:#579C87;
}

header h1{
    font-family: 'Grotesk Medium';
    font-weight: normal;
    font-size: 40px;
}

header a{
    text-decoration:none;
    color: #FDCB46;
}

/*la partie du milieu*/

main{
    display:flex;
    flex-direction: column;
    width: auto;
    margin-top: 40px;
}

#index{
    flex-direction:column;
    margin-left: 738px;
    margin-right: 575px;
}

/*les menus*/

#index h2{
    display:flex;
    justify-content: center;
    margin-top: 0px;
}

#index h3{
    display:flex;
    justify-content:center;
}

#index ul{
    list-style-type: none;
    display:flex;
    flex-flow:wrap;
    padding: 0px;
    margin: 0px;
}

#index ul li{
    display: flex;
    margin-bottom: 30px;
    margin-right: 0px;
    margin-left: 0px;
    width: 40%;
}

#index a, #index a:hover, #index a:visited{
    text-decoration: none;
    color:black;
    display:block;
    width:100%;
}

main footer{
    flex:1 1 auto;
}

#article1 ul li a h2
{
    text-decoration: none;
    color:rgb(3, 3, 7)
}

/*Menu n째1*/

#article1
{
    box-shadow: 1px 1px 12px #d0d0d0;
    background-color:#fcdfdb;
    height: 18em;
    width: 85%;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#article1:hover{
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition: 0.8s;
    opacity:0.85;
}

#article1 img{
    display:block;
    margin:0 auto;
    width: 25%;
    padding-top: 70px;
}

#article1 h2{
    color: #3C1218;
    font-family: 'Devonshire Regular';
    display:flex;
    justify-content:center;
    font-size: 18px;
}

#article1 h2::after{
    border-bottom: solid 3px #000;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin:100% 50%
}

#article1 h2:hover::after { 
    transform: scaleX(1);
    transform-origin:0 50%;
}

#article1 h3{
    color: #3C1218;
    font-family:'Baneberry-Regular';  
}

/*Menu n째2*/

#article2{
    box-shadow: 1px 1px 12px #d0d0d0;
    background-color:#fff5fe;
    width: 85%;
    height: 18em;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#article2:hover{
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition: 0.8s;
    opacity:0.85;
}

#article2 h2{
    background:-webkit-linear-gradient(left, #D8852E, #905BFD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    justify-content:center;
    display:flex;
    font-family: 'CroissantOne-Regular';
    font-size: 14px;
    padding-top: 120px;
}

#article2 h3{
    font-family: 'Ledger-Regular';
    color:#C77412;
}

/*Menu n째3*/

#article3
{
    box-shadow: 1px 1px 12px #d0d0d0;
    background-color:#f9f9f9;
    width: 85%;
    height: 18em;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#article3:hover{
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition: 0.8s;
    opacity:0.85;
}

#article3 h2{
    background:-webkit-linear-gradient(left, #344EBF, #5194CA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    justify-content:center;
    display:flex;
    font-family:'DancingScript-Regular';
    font-size: 18px;
    padding-top: 110px;
}

#article3 h3{
    font-family: 'KaushanScript-Regular';
    color:#3B95DA;
}

/*Menu n째4*/

#article4
{
    box-shadow: 1px 1px 12px #d0d0d0;
    background-color:#f9f9f9;
    width: 85%;
    height: 18em;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#article4:hover{
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition: 0.8s;
    opacity:0.85;
}

#article4 h2{
    background:-webkit-linear-gradient(left, #63995F, #C1FA8E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    justify-content:center;
    display:flex;
    font-family:'DancingScript-Regular';
    font-size: 18px;
    padding-top: 110px;
}

#article4 h3{
    font-family: 'KaushanScript-Regular';
    color:#A3CD91;
}

/*bouton prochainement*/

aside{
    display:flex;
    justify-content:center;
    margin-top: 10px;
}

#btn p{
    display:flex;
    align-items:center;
    margin-top:0px;
    margin-right: 5px;
    margin-left:0px;
    margin-bottom:0px;
}

#btn{
    font-family: 'Grotesk Light';
    background-color:#579C87;
    color: #FDCB46;
    display: flex;
    font-size: 30px;
    border-radius: 6px 6px 6px 6px;
    width: 18%;
    justify-content:center;
    height:48px;
}

.loading{
    height:8px;
    width:8px;
    border-radius:50%;
    background-color:#FDCB46;
    display:inline-block;
    margin:0.2rem;
    animation: scaling 2.5s ease-in-out infinite;
    margin-top: 25px;
}


@keyframes scaling{
0%, 100%{
    transform:scale(0.2);
}
40%{
    transform:scale(1);
}
50%{
    transform::scale(1);
}
}

.loading:nth-child(2){
animation-delay:0s;
}

.loading:nth-child(3){
animation-delay:0.3s;
}

.loading:nth-child(4){
animation-delay:0.5s;
}



/*Footer et boutons de navigations en bas de pages*/

footer{
    display:flex;
    flex-direction: column;
    background-color:#579C87;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
    font-family: 'Grotesk Light';
    font-size:20px;
    margin-top: 15px;
}

nav a{
    text-decoration: none;
    color: #FDCB46;
}
nav a:hover{
    animation: thing 3s infinite;
}
        @keyframes thing{
            0%{transform: rotate(0deg)}
            3%{transform: rotate(-2deg)}
            4%{transform: rotate(2deg)}
            5%{transform: rotate(0deg)}
            100%{transform: rotate(0deg)}
        }

/*Mise en forme du formulaire de contact*/

form#myform.cssform{
    justify-content: center;
    align-items: center;
}

.cssform{
    display: flex;
    flex-direction: column;
}

.cssform p{
    width: 300px;
    clear: left;
    margin: 0;
    padding: 5px 0 8px 0;
    padding-left: 155px; /*width of left column containing the label elements*/
    border-top: 1px dashed gray;
    height: 1%;
}
    
    .cssform label{
    font-weight: bold;
    float: left;
    margin-left: -155px; /*width of left column*/
    width: 150px; /*width of labels. Should be smaller than left column (155px) to create some right margin*/
}
    
    .cssform input[type=&quot;text&quot;]{ /*width of text boxes. IE6 does not understand this attribute*/
    width: 180px;
}
    
    .cssform textarea{
    width: 250px;
    height: 150px;
}
    * html .threepxfix{
    margin-left: 3px;
}

